.places__title {
  margin: 0 16px;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
}

@media all and (min-width: 768px) {
  .places__title {
    margin: 0;
    font-size: 42px;
    line-height: 46px;
  }
}

@media all and (min-width: 1024px) {
  .places__title {
    font-size: 72px;
    line-height: 76px;
  }
}